In [1]:
# Artificial Neural Network


# Part 1 - Data Preprocessing

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing the dataset
dataset = pd.read_csv('BankCustomers.csv')
print(dataset)

      RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]

In [21]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [23]:
dataset.shape

(10000, 14)

In [24]:
dataset.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [27]:
# Null values

dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [28]:
# Duplicate Values

dataset.duplicated().sum()

0

It shows there is no Null and Duplicated values in the dataset

In [ ]:
X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]

In [3]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [4]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [5]:
# convert categorical feature into dummy variables

states=pd.get_dummies(X['Geography'],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [6]:
#concatenate the remaining dummies columns
X=pd.concat([X,states,gender],axis=1)

In [7]:
#drop the columns as it is no longer required

X=X.drop(['Geography','Gender'],axis=1)

In [8]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [9]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
# Part 2 - Now let's make the ANN!

# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

In [11]:
# Initialising the ANN
classifier = Sequential()

In [12]:
# Adding the input layer and the first hidden layer
classifier.add(Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform"))

In [13]:
# Adding the second hidden layer
classifier.add(Dense(activation="relu", units=6, kernel_initializer="uniform"))

In [14]:
# Adding the output layer
classifier.add(Dense(activation="sigmoid", units=1, kernel_initializer="uniform"))

In [15]:
# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [16]:
# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10,epochs = 100)

Epoch 1/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4866 - accuracy: 0.7981
Epoch 2/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4096 - accuracy: 0.8213
Epoch 3/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3952 - accuracy: 0.8284
Epoch 4/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3861 - accuracy: 0.8311
Epoch 5/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3791 - accuracy: 0.8316
Epoch 6/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3731 - accuracy: 0.8400
Epoch 7/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3691 - accuracy: 0.8476
Epoch 8/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3664 - accuracy: 0.8491
Epoch 9/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3626 - accuracy: 0.8485
Epoch 10/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3599 - accuracy: 0.8508
Epoch 11/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3591 - accuracy: 0.8546
Epoch 12/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3573 - accuracy: 0.8529
Epoch 13/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3555 - accuracy: 0.8572
Epoch 14/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3544 - accuracy: 0.8561
Epoch 15/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3531 - accuracy: 0.8565
Epoch 16/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3524 - accuracy: 0.8543
Epoch 17/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3522 - accuracy: 0.8579
Epoch 18/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3508 - accuracy: 0.8593
Epoch 19/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3498 - accuracy: 0.8568
Epoch 20/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3495 - accuracy: 0.8577
Epoch 21/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3490 - accuracy: 0.8576
Epoch 22/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3485 - accuracy: 0.8566
Epoch 23/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3492 - accuracy: 0.8576
Epoch 24/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3486 - accuracy: 0.8569
Epoch 25/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3476 - accuracy: 0.8575
Epoch 26/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3474 - accuracy: 0.8583
Epoch 27/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3473 - accuracy: 0.8584
Epoch 28/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3459 - accuracy: 0.8590
Epoch 29/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3461 - accuracy: 0.8572
Epoch 30/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3452 - accuracy: 0.8586
Epoch 31/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3455 - accuracy: 0.8579
Epoch 32/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3438 - accuracy: 0.8610
Epoch 33/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3434 - accuracy: 0.8584
Epoch 34/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3435 - accuracy: 0.8597
Epoch 35/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3420 - accuracy: 0.8602
Epoch 36/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3419 - accuracy: 0.8610
Epoch 37/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3413 - accuracy: 0.8612
Epoch 38/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3407 - accuracy: 0.8581
Epoch 39/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3405 - accuracy: 0.8605
Epoch 40/100
800/800 [==============================] - 35s 44ms/step - loss: 0.3399 - accuracy: 0.8619
Epoch 41/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3401 - accuracy: 0.8590
Epoch 42/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3404 - accuracy: 0.8587
Epoch 43/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3393 - accuracy: 0.8587
Epoch 44/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3403 - accuracy: 0.8610
Epoch 45/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3391 - accuracy: 0.8604
Epoch 46/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3394 - accuracy: 0.8599
Epoch 47/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3385 - accuracy: 0.8615
Epoch 48/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3399 - accuracy: 0.8610
Epoch 49/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8608
Epoch 50/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3390 - accuracy: 0.8602
Epoch 51/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8606
Epoch 52/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8602
Epoch 53/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3381 - accuracy: 0.8596
Epoch 54/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3387 - accuracy: 0.8606
Epoch 55/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3384 - accuracy: 0.8597
Epoch 56/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3388 - accuracy: 0.8622
Epoch 57/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3378 - accuracy: 0.8626
Epoch 58/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3384 - accuracy: 0.8605
Epoch 59/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8615
Epoch 60/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3380 - accuracy: 0.8599
Epoch 61/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3384 - accuracy: 0.8612
Epoch 62/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3377 - accuracy: 0.8611
Epoch 63/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3384 - accuracy: 0.8630
Epoch 64/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3383 - accuracy: 0.8609
Epoch 65/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3378 - accuracy: 0.8610
Epoch 66/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3378 - accuracy: 0.8615
Epoch 67/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3380 - accuracy: 0.8612
Epoch 68/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3369 - accuracy: 0.8611
Epoch 69/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3376 - accuracy: 0.8605
Epoch 70/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3371 - accuracy: 0.8611
Epoch 71/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3382 - accuracy: 0.8587
Epoch 72/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3375 - accuracy: 0.8605
Epoch 73/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3383 - accuracy: 0.8608
Epoch 74/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3374 - accuracy: 0.8615
Epoch 75/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3378 - accuracy: 0.8610
Epoch 76/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3372 - accuracy: 0.8618
Epoch 77/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3379 - accuracy: 0.8608
Epoch 78/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3361 - accuracy: 0.8618
Epoch 79/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3379 - accuracy: 0.8597
Epoch 80/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3381 - accuracy: 0.8606
Epoch 81/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3369 - accuracy: 0.8600
Epoch 82/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3372 - accuracy: 0.8608
Epoch 83/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3377 - accuracy: 0.8595
Epoch 84/100
800/800 [==============================] - 33s 41ms/step - loss: 0.3372 - accuracy: 0.8609
Epoch 85/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3367 - accuracy: 0.8602
Epoch 86/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3374 - accuracy: 0.8614
Epoch 87/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3374 - accuracy: 0.8609
Epoch 88/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3365 - accuracy: 0.8616
Epoch 89/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3365 - accuracy: 0.8609
Epoch 90/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3378 - accuracy: 0.8590
Epoch 91/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3372 - accuracy: 0.8618
Epoch 92/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3371 - accuracy: 0.8618
Epoch 93/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3372 - accuracy: 0.8615
Epoch 94/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3372 - accuracy: 0.8608
Epoch 95/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3372 - accuracy: 0.8609
Epoch 96/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3365 - accuracy: 0.8625
Epoch 97/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3381 - accuracy: 0.8602
Epoch 98/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3368 - accuracy: 0.8609
Epoch 99/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3372 - accuracy: 0.8618
Epoch 100/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3369 - accuracy: 0.8610

In [17]:
# Part 3 - Making the predictions and evaluating the model

# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

63/63 [==============================] - 0s 2ms/step

In [18]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)
accuracy=accuracy_score(y_test,y_pred)

In [19]:
cm

array([[1536,   59],
       [ 214,  191]], dtype=int64)

In [20]:
accuracy

0.8635